.header {
    h1 {
        display: inline-block;
        margin: 0;
        padding-bottom: 40px;
    }

    &__btn {
        display: inline-block;
        padding: 5px 10px;
        margin-top: -9px;
        margin-left: 15px;
        vertical-align: middle;

        font-size: 13px;
        text-decoration: none;
        color: #000;

        border: 1px solid #bfbfbf;
        border-radius: 5px;
    }
}