.popup-block {
    position: fixed;
    top: 50%;
    left: 50%;

    width: 500px;
    padding: 30px;

    border-radius: 15px;
    background-color: #fff;
    box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.05);

    transform: translateX(-50%) translateY(-50%);

    &__submit-group::after {
        content: "";
        display: table;
        clear: both;
    }

    input[type="text"], textarea {
        font-family: inherit;
        font-size: 16px;
    }

    input[type="text"]::-webkit-input-placeholder {
        color: #4c4c4c;
    }

    input[type="text"]::-moz-placeholder {
        color: #4c4c4c;
        opacity: 1;
    }

    input[type="text"]:-ms-input-placeholder {
        color: #4c4c4c;
    }

    input[type="text"]:-moz-placeholder {
        color: #4c4c4c;
    }

    input[type="text"]::placeholder {
        color: #4c4c4c;
    }

    textarea::-webkit-input-placeholder {
        color: #4c4c4c;
    }

    textarea::-moz-placeholder {
        color: #4c4c4c;
        opacity: 1;
    }

    textarea:-ms-input-placeholder {
        color: #4c4c4c;
    }

    textarea:-moz-placeholder {
        color: #4c4c4c;
    }

    textarea::placeholder {
        color: #4c4c4c;
    }

    input[type="text"] {
        width: 100%;
        padding: 10px;
        margin: 0 0 15px 0;

        border: 1px solid #bfbfbf;
        border-radius: 5px;
    }

    textarea {
        display: block;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        padding: 10px;
        margin: 0 0 15px 0;

        border: 1px solid #bfbfbf;
        border-radius: 5px;
    }

    label {
        display: block;
        float: left;
    }

    button {
        display: block;
        float: right;
        padding: 10px 15px;
        margin: 0;

        font-size: 16px;

        border: 1px solid #bfbfbf;
        background-color: #fff;
        border-radius: 5px;

        cursor: pointer;
    }

    button:disabled {
        background-color: #e5e5e5;
    }

    input[type='checkbox'] {
        margin: 0 10px 0 0;
    }
}